<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/tienda/principal"
        >TIENDA BCP CONSULTING</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <button
              class="btn boton"
              aria-current="page"
              routerLink="/tienda/catalogo"
            >
              Catalogo
            </button>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
        <span class="mx-2">Bienvenido: {{ user?.username }}</span>
        <button class="btn boton" type="submit" routerLink="/tienda/carrito">
          carrito
        </button>
        <button class="btn logout" type="submit" (click)="onLogout()">
          logout
        </button>
      </div>
    </div>
  </nav>
</header>
