<div class="card">
  <div class="card-body">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ lista.urlImagen }}" class="card-img-top" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ lista.nombreProducto }}</h5>
          <h6>Precio: ${{ lista.precio }}</h6>
          <p class="card-text">
            {{ lista.descripcionProducto }}
          </p>
          <a class="btn btn-primary" (click)="guardarCarrito(lista)"
            >Añadir al carrito</a
          >
          <button
            class="btn btn-info mx-2"
            [routerLink]="['/tienda/detalle', lista.idProducto]"
          >
            Ver producto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
