<main class="form-signin container">
  <form
    class="d-flex flex-column align-items-center"
    (submit)="onSubmit($event)"
  >
    <img
      class="mb-4"
      src="../../../../assets/new-user.png"
      width="96"
      height="96"
    />
    <h1 class="h3 mb-3 fw-normal">Nuevo Usuario</h1>

    <div class="form-floating w-100">
      <input
        type="email"
        class="form-control"
        placeholder="name@example.com"
        autocomplete="off"
      />
      <label for="floatingInput">Correo Electronico</label>
    </div>
    <div class="form-floating w-100">
      <input
        type="text"
        class="form-control"
        placeholder="name@example.com"
        autocomplete="off"
      />
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating w-100">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        autocomplete="off"
      />
      <label for="floatingPassword">Contraseña</label>
    </div>
    <div class="form-floating w-100">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        autocomplete="off"
      />
      <label for="floatingPassword">Reingrese Contraseña</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">
      Registrar
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2023-2023</p>
  </form>
</main>
